html, body {
  background-color: hsl(171, 100%, 41%)	;
  width: 100vw;
}

.debug *:not(g):not(path) {
	color:                 hsla(210, 100%, 100%, 0.9) !important;
	background:            hsla(210, 100%,  50%, 0.5) !important;
	outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

	box-shadow: none !important;
	filter:     none !important;
}

@import 'bulma/bulma.sass';

.Team-Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  background: $primary;
}

.Team-Card {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 .75rem;
  width: 100%;

  &__badge {
    align-items: center;
    display: flex;
    flex-direction: column;

    & img {
      height: 3rem;
      margin-bottom: .5rem;
    }
  }

  &__info {
    display: none;
    flex: 1 1;
  }

  @include tablet {
    width: 40%;
  }

  @include desktop {
    display: auto;
    width: 100%;

    &__badge {
      margin-right: 1rem;

      & img {
        height: 5rem;
      }
    }

    &__info {
      display: block;
    }
  }
}

.break {
  flex-basis: 100%;
}
