@import 'bulma/sass/utilities/_all.sass';

.App {
    background: $info;

    &__content {
      display: flex;

      &--half {
        flex: 1 1 50%;
        height: calc(100vh - 3.25rem);
        overflow-y: scroll;
      }
    }
}
