@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

.section.teams {
  max-height: 100vh;
  overflow-y: scroll;
}

.box.team-card {
  cursor: pointer;
  display: flex;
  width: 100%;

  img {
    float: left;
    margin-right: 1rem;
    height: 5rem;
  }

  &.selected {
    background-color: $cyan;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;

    img, div {
      opacity: .25;
    }
  }
}
